body {
    background: silver;
}
.img__box {
    display: block;
    max-width: 100%;
    height: auto;
}

.column_content3 {
    position: relative;
    padding: 10px;
    max-width: 60px;
    height: 100px;
    border: 4px var(--color2);
    border-style: double;
    outline: thick double var(--color2);
    outline-offset: -7px;
    background-color: rgb(190, 190, 190);
    box-shadow: inset -10px -10px 11px 2px rgba(75, 73, 73, 0.48);
   
}

.column_content4 {
    position: relative;
    padding: 10px;
    max-width: 120px;
    height: 100px;
    border: 4px var(--color2);
    border-style: double;
    outline: thick double var(--color2);
    outline-offset: -7px;
    background-color: rgb(190, 190, 190);
    box-shadow: inset -10px -10px 11px 2px rgba(75, 73, 73, 0.48);
}

.column_content5 {
    box-shadow: inset -20px -20px 21px 4px rgba(5, 252, 63, 0.48);
}

.column_content6 {
    box-shadow: inset -10px -10px 25px -2px rgba(249, 61, 24, 0.829);
}

.shadow-point {
    animation: shadow 5s infinite alternate;
}
  
@keyframes shadow {
    from {
        box-shadow: inset -10px -10px 11px 2px rgba(75, 73, 73, 0.48);
    }
    to {
        box-shadow: inset -20px -20px 21px 4px rgba(5, 252, 63, 0.48);
    }
}

